<div class="home-main d-flex flex-column align-items-center justify-content-center">
  <h3 class="text-warning display-5">A GOLDEN FORTUNE</h3>
  <div class="home-img">
    <img src="assets/img/jollyroger.jpg" alt="">
  </div>
  <a href="/login" class="btn btn-warning btn-lg text-gold">Login or Signup</a>
  <button id="logout" class="btn btn-warning btn-lg text-gold">Logout</button>
</div>