
  <style>
    body {
      background-color: black;
      margin: 0;
      padding: 0;
    }

    .container-fluid {
      background-image: url('assets/img/piratewall.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px;
    }

    .text-bubble {
      background-color: black;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: orange;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .start-button {
      background-color: black;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: orange;
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .past-adventures {
      position: absolute;
      top: 20px;
      right: 20px;
      text-align: right;
    }
  </style>

<body>
  <div class="container-fluid">
    <div class="text-bubble">
      <h2>Welcome, {{userData.name}}!</h2>
    </div>

    <div class="start-button">
      <a href="#" onclick="location.replace('/scene/1')" id="start-adventure-button" style="color: orange;">Start New Adventure</a>
    </div>

    <div class="past-adventures">
      <h3 style="color: orange;">Past Adventures:</h3>

      {{#if stories.length}}
      <div class="text-bubble">
        <ul style="list-style-type: none; padding: 0;">
          {{#each stories}}
          <li>{{combinedText}}</li>
          {{/each}}
        </ul>
      </div>
      {{else}}
      <p class="text-bubble">No past adventures.</p>
      {{/if}}
    </div>
  </div>
</body>





