<!-- gameplay.handlebars -->

<!DOCTYPE html>
<html>

<head>
  <title>Scene</title>
  <link rel="stylesheet" href="/css/gameplay.css">
  <script src="/js/gameplay.js"></script>
  <script src="/js/typewriter.js"></script>
</head>

<body>
  <div class="container">
    <div class="character-icon">
      <img src="/images/character-icon.png" alt="Character Icon">
    </div>
    <div class="text-conversation">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>Nulla quis cursus felis, id molestie est. Aenean in dolor malesuada, faucibus nibh ut, fermentum lacus.</p>
    </div>
    <div class="background-image">
      <img src="/images/background-image.png" alt="Background Image">
    </div>
    {{#if sceneData.Choice}}
    <div class="storyline-choices">
    
      <h3>Choose Your Path:</h3>
      <ul>
        {{#each sceneData.Choice}}
        <li>
          <button class="choice-option" data-triggered-scene="{{ this.triggered_scene_id }}"
            id ="{{ this.id }}" type="choose">
            {{ this.text }}
          </button>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}

  </div>
</body>

</html>